.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  color: black;
  font-family: "McLaren", cursive;
}
img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

ul {
  list-style-type: none;
  padding-top: 15px;
  text-align: center;
}

p {
  text-align: center;
}
h1,
h3,
h2,
h4,
h5 {
  text-align: center;
  color: black;
}
h1 {
  font-size: 45px;
}
h3 {
  padding-top: 15px;
}

.page,
footer {
  max-width: 1000px;
  margin: 100 0 0 0;
  padding: 25px 70px;
}

.github-link {
  text-decoration: none;
}
.github-link:hover {
  text-decoration: underline;
}
.dailytemp {
  font-size: 45px;
}
.top-card {
  margin: 15px;
}
.top-cloud {
  text-align: center;
  font-size: 60px;
  display: block;
  margin: 0 auto;
  color: black;
}
.temperature {
  font-size: 64px;
}
.units {
  font-size: 18px;
  position: relative;
  top: -34px;
}
.daily {
  color: black;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.card {
  background: transparent;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.card-forcast {
  padding: 0;
}
.cube {
  position: relative;
  display: flex;
  flex-direction: column;
}
.bottom-cloud {
  text-align: center;
  font-size: 30px;
  display: block;
  margin: 0 auto;
  color: black;
}
.cardno {
  background-color: black;
  opacity: 0.3;
}
.motivation {
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.searching-engine {
  text-align: center;
  display: block;
}
