.Temperature {
  padding: 16px;
}

.top-cloud {
  text-align: center;
  font-size: 64px;
  display: block;
  margin: 0 auto;
}

.Temperature h1 {
  color: #878787;
  margin: 10px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.Temperature h3 {
  font-size: 16px;
}
.Temperature ul {
  margin: 0;
  padding: 0;
}

.Temperature li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Temperature .temp {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  margin-left: 10px;
}
.Temperature .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}
